/* Fundementals */
body{
    font-family: "Josefin Sans", sans-serif;
}

.main-logo{
    width:100%;
    height: auto;
    margin-bottom: 15px;
}

/* alerts */
.alert {
    margin: 20px;
    border: none;
}

/* NAV BAR */
.initial-nav{
    margin-bottom: 20px;
    background-color: #61538B;
    font-size: 20px;
}

/*login form*/
h1{
    font-size: 60px;
    color: #261260;
}

.form-label{
    font-size: 35px;
    color: #261260;
} 

.login-input{
    height: 70px;
    border-radius: 20px;
}

.login-btn{
    width: 40%;
    height: auto;
    font-size: 20px;
    border-radius: 30;
    background-color: #00BF63;
    border: none;
    color: white;
    margin: 15px;
    float: right;
}

.login-btn.login-btn:hover{
    background-color:#036435 ;
    border: none;
}