{% extends "base.html" %} {% block title%}Home{% endblock %} {% block content %}

<main>
  <!-- style page -->
  <div class"container">
    <div class="row divider">
      <div class='col-md'>
        <img src="{{ url_for('static', filename='images/' + user.profile_pic )}}" class="profile_pic">
        <h3>{{user.first_name}}<h3>
      </div>
    </div>
      <div class='row'>
        <h2><strong>YOUR TEAMS<strong></h2>

        <a href="instant_msg">
          <button class="team-button">
            <span class="team-button-text"> <strong> Band <strong> </span>
            <i class="fa-solid fa-guitar band-icon"></i>
          </button>
        </a>
      </div>
    </div>
  </div>
</main>
  {%endblock%}

  {% block script %}
  <script>
    $("#homepage-link").addClass("side-nav-link-active");
  </script>
  {% endblock%}
