{% extends "base.html" %} {% block title%}Instant Messaging{% endblock %} {% block content %}

<main>
<h1>this is the instant messager</h1>

</main>

<!--SECONDARY NAVBAR-->
<nav id="secondary-nav" class="navbar navbar-expand fixed-bottom sub-nav">
    <ul class="navbar-nav sub-nav-centered">
        <li class="nav-item">
            <a class="nav-link" href="alert_board">
                <i class="fa-solid fa-bell sub-nav-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="instant_msg">
                <i class="sub-nav-icon fa-solid fa-comments"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="event_board">
                <i class="sub-nav-icon fa-solid fa-calendar-days"></i>
            </a>
        </li>
    </ul>
</nav>

{%endblock%}