{% extends "base.html" %} {% block title%}Instant Messaging{% endblock %} {% block content %}

<main>
<!-- form to create message -->
<div class="shadow p-3 mb-5 bg-body rounded">
    <form method="POST">
        {{form.hidden_tag()}}
        {{form.title.label (class="form-label")}}
        {{form.title (class="form-control")}}
        <br/>
        {{form.slug.label (class="form-label")}}
        {{form.slug (class="form-control")}}
        <br/>
        {{form.content.label (class="form-label")}}
        {{form.content (class="form-control", rows="5")}}
        <br/>
        {{ form.submit(class="btn btn-secondary")}}
    </form>
</div>

<!-- display messages -->
<h1> messages </h1>

<br/>

{% for post in posts %}
    {{ post.title }} <br/>
    <img src="{{ url_for('static', filename='images/' + post.poster.profile_pic )}}" class="profile_pic"> <br/>
    By : {{ post.poster.first_name }} <br/>
    {{ post.slug }} <br/>
    {{ post.date_posted }} <br/>
    {{ post.content }} <br/> <hr> <br/>
{% endfor %}

<br/> <br/> <br/> <br/>

</main>

<!--SECONDARY NAVBAR-->
<nav id="secondary-nav" class="navbar navbar-expand fixed-bottom sub-nav">
    <ul class="navbar-nav sub-nav-centered">
        <li class="nav-item">
            <a class="nav-link" href="alert_board">
                <i class="fa-solid fa-bell sub-nav-icon"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="instant_msg">
                <i class="active-secondary-nav sub-nav-icon fa-solid fa-comments"></i>
            </a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="event_board">
                <i class="sub-nav-icon fa-solid fa-calendar-days"></i>
            </a>
        </li>
    </ul>
</nav>

{%endblock%}