{% extends "base.html" %} {% block title%}Login{% endblock %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock%} {% block content %}
<!-- PAGE IMAGES -->
<div class"container">
  <div class="row">
    <div class='col-md'>
      <img
        src="{{ url_for('static', filename='/pigeon-logo1.png') }}"
        class="image main-logo"
        align="center"
        alt="main logo"
      />
    </div>
    <div class="col-md">

<!-- ||||||||||||||||||||||||||||||||||||| -->

      <!-- LOGIN FORM -->

      <form method="POST" class="login-form">
        <h1 align="right"><strong>Login</strong></h1>
      </br>
        <div class="form-group" align="right">
          <!-- input email adress -->
          <label class="form-label" for="email">email address</label>
          <input
            type="email"
            class="form-control login-input"
            id="email"
            name="email"
            placeholder="Enter email"
          />
        </div>

        </br>

        <!-- input password -->
        <div class="form-group" align="right">
          <label for="password" class="form-label" >password</label>
          <p>
          <input
            type="password"
            class="form-control login-input"
            id="password1"
            name="password"
            placeholder="Enter password"
          >
          <br>
          <!-- show password button -->
          <input type="checkbox" id="password-toggle" class="visiblity-toggle" onclick="showPassword()">Show Password</input>
        </div>

        <br />
        
        <!-- submit button for login -->
        <button type="submit" class="btn login-btn">login</button>
        <!-- button redirect to sign in page -->
        <a href="sign-up">
        <button type="button" class="btn sign-btn">sign up</button>
        </a>

      </form>

    </div>
  </div>
</div>

{%endblock%}
