{% extends "base.html" %} {% block title%}SignUp{% endblock %} {% block head %}
<link
  rel="stylesheet"
  type="text/css"
  href="{{ url_for('static', filename='css/login.css') }}"
/>
{% endblock%} {% block content%}
<!-- SIGN UP FORM -->
<form method="POST" enctype="multipart/form-data">
  <h1 align="center"><strong>Sign Up</strong></h1>
  <div class="form-group">
    <label for="email" class="sign-label"><strong>email address</strong></label>
    <input
      type="email"
      class="form-control sign-input"
      id="email"
      name="email"
      placeholder="Enter email"
    />
  </div>

  <div class="form-group">
    <label for="first_name" class="sign-label"
      ><strong>first name</strong></label
    >
    <input
      type="text"
      class="form-control sign-input"
      id="first_name"
      name="first_name"
      placeholder="Enter first name"
    />
  </div>

  <div class="form-group">
    <label for="password1" class="sign-label"><strong>password</strong></label>
    <input
      type="password"
      class="form-control sign-input"
      id="password1"
      name="password1"
      placeholder="Enter password"
    />
    <input
      type="checkbox"
      id="password-toggle"
      class="visiblity-toggle"
      onclick="showPassword()"
    />
    <p style="display: inline">show password</p>
    <p></p>
  </div>

  <div class="form-group">
    <label for="password2" class="sign-label"
      ><strong>password (confirm)</strong></label
    >
    <input
      type="password"
      class="form-control sign-input"
      id="password2"
      name="password2"
      placeholder="confirm password"
    />
    <input
      type="checkbox"
      id="password-toggle"
      class="visiblity-toggle"
      onclick="showPassword2()"
    />
    <p style="display: inline">show password</p>
    <p></p>
  </div>

  <div class="form-group">
    <label for="profile_pic" class="sign-label"
      ><strong>upload profile pic (this cannot be changed later)</strong></label
    >
    <input
      type="file"
      class="form-control file-upload"
      id="profile_pic"
      name="profile_pic"
      accept="image/"
      capture
      required="true"
    />
  </div>

  <button type="submit" class="btn sign-btn">Submit</button>
</form>
{%endblock%}
